.banner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 0.2s ease;

}

.container{
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
    height: auto;
    

}

.text-popUp.active{
    display: flex;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.0) );
    color: #fff;
    backdrop-filter: blur(10px);
    font-size: 0.625rem;
    top: 0.313rem;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding: 1.25rem 1rem;
    margin: auto 0 ;
    left: 0;
    right: 0;
    transition: 0.3s ease;
    top: 0;
    z-index: 11;
    

}

.text-popUp h1{
    display: none;
    margin: 0 auto;
    top: -100%;
    transition: 0.3s ease;
    /* font-weight: 500; */
}
.text-popUp.active h1{
    display: block;
    margin: 0 auto;
    transition: 0.3s ease;
    font-weight: 500;
}

.text-popUp{
    top: -100%;
    transition: 0.3s ease;
}


.circle1,.circle2{
    display: flex;
    position: absolute;
    /* background-color: red; */
    background:linear-gradient(to right bottom, #0c21aa 30%, #973fcf 100%);
    /* backdrop-filter: blur(10px); */
    filter: blur(60px);
    opacity: 40%;
    height: 31.25rem;
    width: 25rem;
    border-radius: 50%;
    /* border: 1px solif red; */
    z-index: -1;
}

.circle1{
    top: -3.125rem;
    left: 0.625rem;
}

.circle2{
    bottom: -77rem;
    right: 31rem;
    position: absolute;
    /* display: none; */
    overflow: hidden;
}

.banner-con{
    display: flex;
    justify-content: center;
    color: #fff;
    background: #FFF;
    background: linear-gradient(111deg, rgba(255,255,255,0.07) 0%, rgba(255,255,255,0.1) );
    /* opacity: 90%; */
    margin-top: 5rem;

    width: 56.25rem;
    /* background-filter: blur(10px); */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 1.25rem;
    /* box-shadow: 3px 3px 3px rgb(22, 4, 43); */
    padding: 2.5rem 0;
    /* height:75vh; */
}

.banner-text{
    height: auto;
    align-items: center;
    text-align: center;
}

.banner-text h1{
    font-size: 6rem;
    font-weight: bold;
    margin-top: 0;
}

.banner-text p{
    font-size: 2.5rem;
    /* font-weight: bold; */

}

.banner-text p.sub{
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.input{
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;

}

.input input{
    color: black;
    width: 100%;
    border-radius: 3.125rem;
    padding: 0.625rem;
    text-align: center;
    opacity: 50%;
    backdrop-filter: blur(10px);
    font-family: "Ubuntu";
    font-size: 0.938;
    border: 1px solid #EBDE01;

}
input:focus{
    opacity: 100%;
}

.input button{
    color: black;
    background: #EBDE01;
    padding: 0.625rem 2.5rem;
    border-radius: 3.125rem;
    margin-left: 1rem;
    font-family: "Ubuntu";
    font-size: 1rem;
    border: 1px solid #EBDE01;
}

button:hover{
    background: none;
    border:1px solid  #fff;
    color: #FFF;
    opacity: 90%;
    cursor: pointer;
}

@media screen and (max-width : 480px) {
    .banner-con{
        width: 25.938rem;
        border-radius: 0.625rem;
        margin-top: 5rem;
    }

    .circle2{
        bottom: -45rem;
        right: 1rem;
        overflow: hidden;
    }

    .banner-text{
        width: auto;
    }

    .banner-text h1{
        font-size: 3.125rem;
    }

    .banner-text p{
        font-size: 1.563rem;

    }

    .banner-text p.sub{
        font-size: 0.938rem;
    }

    .input{
        margin-bottom: 0;

    }

    .input input{
        padding: 0.313rem;
        font-size: 0.75rem;
    }

    .input button{
        font-size: 0.75rem;
        padding: 0.313rem 1.063rem;
    }

    .text-popUp.active h1{
        font-size: 0.938rem;
    }

}